.netrwhist
.DS_Store
.tags
.cscope
.tasks
.vscode/
__pycache__/
tags
*.o
*.obj
*.class
*.exe
*.wav
*.pyc
*.pyo
*.bak
*.old
*~
*.sdf
*.ipch
*.pch
/tools/scratch
/tools/samples
/doc/tags

/autoload/module/test_*
/autoload/asyncrun/runner/test_*
/autoload/asyncrun/program/test_*

