.netrwhist
.DS_Store
.tags
.cscope
.tasks
.root
.vscode/
__pycache__/
tags
*.o
*.obj
*.class
*.exe
*.wav
*.pyc
*.pyo
*.bak
*.old
*.dll
*.so
*~
*.sdf
*.ipch
*.pch
*.rar
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.log

/.lvimrc
/tools/scratch
/tools/samples
/tools/test/test_*
/doc/tags
/doc/helptags
/etc/test_*
/lib/test_*

/autoload/module/test_*
/autoload/asyncrun/runner/test_*
/autoload/asyncrun/program/test_*
/autoload/test/test_*
/autoload/preload/test_*
/autoload/quickui/test_*
/autoload/quickui/**/test_*
/autoload/python/test_*
/autoload/tweak/test_*
/plugin/test_*
/lua/test/*

/site/text/test_*
/site/escript/test_*

/abc.py
/etc/crontab.*

.lvimrc
.localrc

/etc/test_*.*
/lua/?/test_*.*

