snippet //= "comment block 1 .. (comment block 1)"
//=====================================================================
// ${1:comments}
//=====================================================================
${VISUAL}${0}
endsnippet

snippet //- "comment block 2 .. (comment block 2)"
//---------------------------------------------------------------------
// ${1:comments}
//---------------------------------------------------------------------
${VISUAL}${0}
endsnippet


