snippet project-executable
	project(DemoPrj)

	set(sources
		main.cpp
		)

	add_executable(DemoPrj ${sources})

	set(CMAKE_C_FLAGS "${CMAKE_C_FLAGS_RELEASE} -O2")
	set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS_RELEASE} -O2")

	target_link_libraries(PyStand 
		-static
		shlwapi
		winmm
		)


