snippet head
	#! /usr/bin/env python
	# -*- coding: utf-8 -*-
	#======================================================================
	#
	# `expand('%:t')` - ${1}
	#
	# Created by `g:snips_author` on `strftime('%Y/%m/%d')`
	# Last Modified: `strftime('%Y/%m/%d %H:%M:%S')`
	#
	#======================================================================
	${0}

snippet frame
	#----------------------------------------------------------------------
	# ${1}
	#----------------------------------------------------------------------
	${0}

snippet ifmain
	if __name__ == '__main__':
		${0}


snippet ifmaint
	#----------------------------------------------------------------------
	# testing suit
	#----------------------------------------------------------------------
	if __name__ == '__main__':
		def test1():
			${0}
		    return 0
		test1()


