snippet gtest "gtest main body"
#include <stdio.h>
#include <gtest/gtest.h>

TEST(suit1, test0)
{
	ASSERT_TRUE(0 == 0);
}

int main(int argc, char *argv[]) 
{
	testing::InitGoogleTest(&argc, argv);
	return RUN_ALL_TESTS();
}

endsnippet

snippet linwei9
// linwei2
endsnippet


